body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center;
    overflow: auto; 
}

#welcome-label {
    margin-bottom: 30px;
}

.sign-in-forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center; 
    justify-content: center;
    overflow: auto; 
}

input {
    width: 500px !important;
}


button {
    width: 1200px !important;
}

.sign-in-teacher-form {
    margin-right: 200px;
}

