@font-face {
  font-family: 'San Francisco Text Light';
  src: url('../sources/fonts/SFUIText-Light.eot');
  src: url('../sources/fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
  url('../sources/fonts/SFUIText-Light.woff') format('woff'),
  url('../sources/fonts/SFUIText-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Light Italic';
  src: url('../sources/fonts/SFUIText-LightItalic.eot');
  src: url('../sources/fonts/SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../sources/fonts/SFUIText-LightItalic.woff') format('woff'),
  url('../sources/fonts/SFUIText-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'San Francisco Text Regular';
  src: url('../sources/fonts/SFUIText-Regular.eot');
  src: url('../sources/fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
  url('../sources/fonts/SFUIText-Regular.woff') format('woff'),
  url('../sources/fonts/SFUIText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  body {
    font-family: 'San Francisco Text Light';
    margin: 0;
  }

  .app-bar {
    box-shadow: 0 rgba(221, 221, 221, 1) !important;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 200px !important;
    background-color: #FFF;
    height: 80px;
  }

  .login-button {
    font-family: 'San Francisco Text Light' !important;
    color: #000 !important;
  }

  .main-image {
    box-shadow: inset 0 0 10px 5px rgba(221, 221, 221, 1) !important;
  }