@font-face {
	font-family: 'Maax Regular';
	src: url('../resources/fonts/Maax.eot');
	src: url('../resources/fonts/Maax.eot?#iefix') format('embedded-opentype'),
	url('../resources/fonts/Maax.woff') format('woff'),
	url('../resources/fonts/Maax.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Proza Display";
    src: url("//db.onlinewebfonts.com/t/c107202f3ecccc6fee25aabca831e096.eot");
    src: url("//db.onlinewebfonts.com/t/c107202f3ecccc6fee25aabca831e096.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c107202f3ecccc6fee25aabca831e096.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/c107202f3ecccc6fee25aabca831e096.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/c107202f3ecccc6fee25aabca831e096.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/c107202f3ecccc6fee25aabca831e096.svg#Proza Display") format("svg");
}

body {
	padding: 0;
	margin: 0;

	background-color: #F3F1F0;
}

.App {
	text-align: center;
	padding: 0;
	margin: 0;
}

.main-content {
	padding: 50px 0;

	display: flex;
	flex-direction: row;
	justify-content: center;
}