.book-form {
    display: flex;
    flex-direction: column;
}

.upload-button-wrapper {
    position: relative;
    overflow: hidden;
}

.upload-button:hover {
    cursor: pointer;
}
    
input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}