html {
    font-family: 'Source Sans Pro';
}

body {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* ---------- Header area ---------- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-logo {
    margin: 10px;
    border-radius: 50%;
    background-color: rgb(3, 168, 203);
    width: 89px;
    height: 89px;

    display: flex;
    align-items: center;
    justify-content: center
}

.site-logo-image {
    width: 40px;
    height: 40px;
}

.site-name {
    font-weight: 700;
    font-size: 44px;
    text-transform: uppercase;
    color: #3b3e4a;
    margin-top: 0px;
    margin-bottom: 0px;
}

.site-description {
    font-weight: 300;
    font-size: 18px;
    color: #828282;
    margin-top: 0px;
}

/* ---------- ---------- ---------- */

/* ---------- Navigation strip area ---------- */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: rgb(3, 168, 203);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px 5px 0px 0px;
    width: 1170px;
    height: 80px;
    margin: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.menu p {
    font-size: 16px;
    font-family: "Source Sans Pro";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 20px;
}

.welcome {
    background-image: url("../images/hello.png");
    margin: 0px;
    width: 1170px;
    height: 430px;
    border-radius: 0px 0px 5px 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 148px;
    padding-bottom: 71px;
}

.welcome-caption {
    margin: 0px;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.welcome-description {
    margin: 0px;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

#button {
    background: #03a8cb;
    border-radius: 30px;

    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.welcome #button {
    font-size: 22px;
    width: 135px;
    height: 49px;
    letter-spacing: 2px;
}

/* ---------- ---------- ---------- */

/* ---------- Person cards area ---------- */

.section-1 {
    margin-top: 30px;
    width: 1170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.section-1 #card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 5px;
    width: 270px;
}

.section-1 #card-title {
    font-size: 16px;
    color: rgb(59, 62, 74);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
}  

.section-1 #card-text {
    font-size: 14px;
    color: rgb(130, 130, 130);
    line-height: 1.657;
    text-align: left;
}
  
.section-1 #button {
    padding: 3px 3px;
    font-size: 11px;
    width: 54px;
    height: 26px;
    letter-spacing: 0.5px;
}

/* ---------- ---------- ---------- */

.section-2 {
    margin-top: 40px;
    padding: 30px 0 10px 0;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);

    width: 1170px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}



.table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 570px !important;
}

.table #card {
    border: none;
    width: 270px;
    height: 70px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.table .card-icon {
    border-radius: 5px;
    background-color: rgb(59, 62, 74);
    width: 70px !important;
    margin: 0 20px 20px 0;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}  

.table .card-img {
    width: 25px;
    height: 25px;
}

.table #card-title {
    font-size: 16px;
    color: rgb(3, 168, 203);
    font-weight: bold;
    text-transform: uppercase;
}

.table #card-text {
    font-size: 14px;
    color: rgb(130, 130, 130);
    font-weight: 300;
} 

.table .card-body {
    padding: 0;
}
 

/* ---------- Collapse cards area ---------- */

.list {
    width: 570px;
}

.section-2 h2 {
    margin-bottom: 0;
    font-size: 28px;
    color: rgb(69, 72, 85);
    font-weight: bold;
    text-transform: uppercase;
}

.section-2 h4 {
    margin-bottom: 30px;
    font-size: 18px;
    color: rgb(130, 130, 130);
    font-weight: 300;
    letter-spacing: 1px;
}
  
.list #button {
    margin: -1px -1px 0 0;
    padding: 0;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 0;

    height: 44px;
    width: 44px;

    border-radius: 5px;
    position: absolute;
    right: 0;
}  

#list-group-item {
    height: 44px;
    margin: 14px 0 0 0;
    padding: 0 20px;
    line-height: 44px;

    font-size: 16px;
    color: rgb(130, 130, 130);

    border-color: rgb(230, 230, 230);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.collapse-body {
    margin-top: -7px;
    margin-bottom: 7px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
    font-weight: 300;
    color: rgb(130, 130, 130);
    text-align: left;
    padding: 20px;

    border-style: solid;
    border-top: 0;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 0 0 5px 5px;
}

 /* ---------- ---------- ---------- */ 

  